In [49]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [50]:
df = pd.read_excel('Dataset UAS.xlsx', sheet_name='emoney pilihan')
# Jumlah responden
n = 891
# confidence level
c_level = 0.99

display(df)

,Jenis eMoney,Jumlah responden yang menggunakan
0,GoPay,6972
1,ShopeePay,4626
2,OVO,4361
3,Dana,2858
4,eMoney Mandiri,2006
5,Flazz BCA,1396
6,Tidak menggunakan eMoney,838
7,LinkAja,604
8,Brizzi,458
9,JakCard,42
10,NaN,NaN
11,Total responden,10804
12,NaN,(1 responden dapat memilih lebih dari 1 jenis ...

In [51]:
# Selang kepercayaan untuk p1 - p2
z_score = st.norm.ppf((1+c_level)/2)
em1 = "GoPay"
em2 = "ShopeePay"

n1 = df.loc[df['Jenis eMoney'] == em1, 'Jumlah responden yang menggunakan'].values[0]
n2 = df.loc[df['Jenis eMoney'] == em2, 'Jumlah responden yang menggunakan'].values[0]
p1 = n1 / n
p2 = n2 / n

# n1 = n
# n2 = n
# p1 = 0.47
# p2 = 0.153
p_diff = p1 - p2

error = z_score * np.sqrt((p1 * (1 - p1) / n1) + (p2 * (1 - p2) / n2))
confidence_interval = (p_diff - error, p_diff + error)
print(f"Confidence Interval: {confidence_interval}")

Confidence Interval: (0.26389679670111166, 0.37010320329888824)

In [52]:
b1 = "OVO"
b2 = "Dana"

# H0 : P (ovo) = P (dana)
# H1 : P (ovo) < P (dana)